* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --text-color: #ece8e8;
  --image-background: url('./assets/background-image.gif');
  --image-background-dragon: url(./assets/background-dragon.jpg);
  --image-background-knight: url(./assets/background-knight.jpg);
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 50px;

  background: rgb(120, 19, 50);
  background: linear-gradient(
    0deg,
    rgba(120, 19, 50, 1) 0%,
    rgba(98, 4, 14, 1) 100%
  );
}
html ::-webkit-scrollbar-track {
  background: rgb(120, 19, 75);
  background: radial-gradient(
    circle,
    rgba(120, 19, 75, 1) 0%,
    rgba(98, 4, 14, 1) 100%
  );
}
body {
  font-family: 'Quantico', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;

  background: rgb(20, 21, 53);
  background: radial-gradient(
    circle,
    rgba(20, 21, 53, 1) 0%,
    rgba(7, 7, 18, 1) 99%
  );
  background-size: cover;

  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
